body {
    background-color: rgb(255, 255, 255);
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    color: #111238;
    margin: 0;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-item:not(:last-child) {
    margin-right: 20px;
}
.menu-link {
    text-decoration: none;
    color: #111238;
}
.button {
    text-decoration: none;
    display: inline-block;
}
.button-link {
    color: #111238;
    padding: 10px;
    margin-right: 30px;
}
.button-primary {
    background-color: #1a75e8;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
}
