*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 255, 255);
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    color: #111238;
    margin: 0;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-item:not(:last-child) {
    margin-right: 20px;
}
.menu-link {
    text-decoration: none;
    color: #111238;
}
.button {
    text-decoration: none;
    display: inline-block;
    border: none;
    font-size: 16px;
}
.button-link {
    color: #111238;
    padding: 10px;
    margin-right: 30px;
}
.button-primary {
    background-color: #1a75e8;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
}
.button-icon {
    vertical-align: middle;
}
.button-text {
    vertical-align: middle;
    margin-left: 10px;
}
.hero-title {
    font-size: 44px;
    line-height: 53px;
    margin-bottom: 15px;
    margin-top: 43px;
}
.hero-text {
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 30px;
}
.input-group {
    background-color: #fff;
    border: 1px solid rgba(209, 209, 209, 0.1);
    box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 25px;
}
.input {
    background-color: #fff;
    border: none;
    flex-grow: 1;
    font-size: 16px;
    line-height: 19px;
    padding-left: 15px;
}
.input:focus {
    outline: 1px dotted #666;
}
.tags-group {
    padding-left: 15px;
    color: #b2b2b2;
    font-size: 14px;
    line-height: 17px;
}
.tag {
    color: #b2b2b2;
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
}
.header {
    background: #f2f3f6;
}
.card-icon {
    fill: #111238;
    margin-bottom: 15px;
    transition: fill 0.4s;
}
.card {
    text-decoration: none;
    color: #111238;
    background-color: #f2f3f6;
    border-radius: 10px;
    padding: 35px;
    transition: background-color 0.4s, color 0.4s;
}
.card:hover {
    background-color: #1a75e8;
    color: #fff;
}
.card:hover .card-icon {
    fill: rgb(255, 255, 255);
}
.section {
    padding-top: 70px;
    padding-bottom: 80px;
}
.section-title {
    margin-bottom: 40px;
    margin-top: 0;
}
.offer {
    border: 1px solid #c5c9d5;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
}
.offer-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #f2f3f6;
    background: #fff url(../img/logo-company.png) no-repeat center / contain;
}
.offer-title {
    margin-left: 20px;
}
.offer-heading {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    margin-top: 0;
}
.offer-palace {
    font-size: 14px;
    line-height: 15px;
}
.offer-salary {
    margin-left: 46px;
    margin-right: 62px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    background: #1a75e8;
    padding: 10px 25px;
    border-radius: 5px;
}
.more {
    font-size: 14px;
    line-height: 17px;
    color: #1a75e8;
    text-decoration: none;
    margin-left: auto;
    margin-right: 25px;
}
.subscribe {
    background: #f2f3f6;
}
.subscribe-form {
    max-width: 460px;
    margin: auto;
    text-align: center;
}
.subscribe-title {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 20px;
}
.subscribe-subtitle {
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 40px;
}
.footer {
    padding-top: 70px;
    padding-bottom: 100px;
}
.footer-desc,
.footer-copyright {
    font-size: 12px;
    line-height: 140%;
    color: #b2b2b2;
}
.footer-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 19px;
    color: #111238;
}
.footer-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-list-link {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #111238;
    display: block;
    margin-bottom: 10px;
}
img {
    max-width: 100%;
}
@media (max-width: 1200px) {
    .offer-salary {
        margin-left: 30px;
        margin-right: 30px;
    }
    .more {
        margin-right: 0;
    }
}
@media (max-width: 992px) {
    .more {
        margin-right: auto;
        margin-left: auto;
    }
    .tags-label {
        display: block;
        margin-bottom: 20px;
        text-align: center;
    }
    .offer-title {
        text-align: center;
        margin-left: 0;
    }
    .tag {
        margin-left: 5px;
        margin-right: 5px;
    }
    .navbar {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transform: translateX(-100%);
        transition: transform 0.3s;
    }
    .is-open {
        transform: translateX(0);
    }
    .menu-item:not(:last-child) {
        margin-right: 0;
    }
    .button-link {
        margin-right: 0;
    }
    .close-btn {
        position: fixed;
        top: 10px;
        right: 10px;
        text-decoration: none;
        font-size: 24px;
        text-align: right;
        padding: 20px;
    }
}
@media (max-width: 576px) {
    .hero-title {
        font-size: 24px;
        line-height: 1.4;
    }
    .hero {
        text-align: center;
    }
    .footer {
        text-align: center;
    }
    .card {
        max-width: 250px;
        margin: auto;
    }
    .section-title {
        text-align: center;
    }
}
